.smof-field-upload-screenshot img{
	max-width: 400px;
}
.smof-field-upload-url{
	margin-bottom: 5px;
}

.smof-field-upload-screenshot{
	margin-top: 5px;
}

.smof-field-upload-screenshot img{
	border: 1px solid #e7e7e7;
}
